body
{
    width:400px;
    height: 600px;
    margin-left: auto;
    margin-right:auto;
    padding:20px;
    background-image: url("web.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.contain
{
    color: crimson;
    padding: 10px;
}
.para
{
    color: aqua
}
.box
{
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    padding: 15px;
    margin-bottom:10px;
    color: red;
}
.about
{
    margin-top: 20px;
    padding-top: auto;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    padding: 15px;
    color: red;
}
.footer-bar {
    background-color: #003366; /* Dark blue */
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px; /* Matches your screenshot */
    border-top-right-radius: 15px;
    color: white;
}

.pub-name { color: #ffcc00; font-weight: bold; font-size: 18px; }
.printed-text { font-size: 14px; opacity: 0.9; }
.price-val { color: #ffcc00; font-weight: bold; font-size: 18px; }